body{
    font-family:courier;
}
h1{
    padding: 0px;
}
h3{
    padding: 0px;
}
p{
    padding: 0px;
}
.standout {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 0px;
}